body {
    background-image: url(loginPage-images/1291249.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;   
    /* font-family: 'Open Sans', sans-serif;4 */
    font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}

.container{
    display: flex;
    flex-direction: row;
    height: 280px;
    width: 520px;
    margin-top: 60px;
    background-color:#313338;
    color: white;
    border: none;
    border-radius: 5px;
}

.left-box{
    height: 280px;
    width: 300px;
}



.heading-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    margin-top: 15px;
}

.welcome-text{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.sub-text{
    font-size: 10px;
    color: 	#B2B7BE;

}

.email-container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 10px;
}

.email-text{
    font-size: 8px;
    margin-bottom: 7px;
    color:#B0B5BC;
}

.email{
    background-color: #1E1F22;
    color: white;
    font-size: 12px;
    font-weight: 300;
    border: none;
    border-radius: 2px;
    height: 25px;
    width: 280px;
    outline: none;
}

.password-container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.password-text{
    font-size: 8px;
    margin-bottom: 7px;
    color: #B0B5BC;
}

.password{
    background-color: #1E1F22;
    color: white;
    font-size: 12px;
    font-weight: 300;
    border: none;
    border-radius: 2px;
    height: 25px;
    width: 280px;
    outline: none;
}

.forgot{
    font-size: 8px;
    margin-top:2px;
    color:#049EEC;
    cursor: pointer;
}

.forgot:hover{
    text-decoration: underline;
}

.login-container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 10px;
}

.login-button{
    height: 30px;
    background-color: #5865F2;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover{
    background-color: #1964e6;
}

.need-account{
    font-size: 8px;
    margin-top: 10px;

}

.need-account-text{
    color: 	#B2B7BE;
}

.register{
    color: #049EEC;
    cursor: pointer;
}

.register:hover{
    text-decoration: underline;
}

.right-box{
    height: 280px;
    width: 220px;

}

.qr-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.qr-code{
    height: 125px;
    width: 125px;
    /* border: 2px solid white; */
    border-radius: 5px;
}

.qr-text-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-text{
    font-weight: bold;
    margin-bottom: 0px;
}

.qr-info{
    color: #B2B7BE;
    font-size: 10px;
    /* text-wrap: wrap; */
    margin-top: 5px;

}

.qr-extra{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 60px;
    background-color: #313338;
    color: white;
    border-radius: 5px;
    overflow: hidden;
}


@media (min-width: 600px) {
    .container {
        flex-direction: row;
        height: auto;
    }

    .left-box {
        width: 60%;
    }

    .right-box {
        width: 40%;
    }
}